In [1]:
import pandas as pd
import numpy as np
#make df
df = pd.read_excel(r'D:\Function App Files\Open Opportunities Funnel-Dec21.xlsx',header = 1)
display(df)

,Unnamed: 0,Open Opportunities Funnel,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,As of 2021-12-22 17:23:15 India Standard Time/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Opportunity: Opportunity Owner: User Region →,North & East,NaN,NaN,NaN,NaN,NaN,South,NaN,NaN,West,NaN,NaN,NaN,NaN,NaN,Total,NaN
3,NaN,Opportunity: Opportunity Owner: Full Name →,Dristy Arora,Krishan Sharma,Madhav Sharma,Nikhil Sondhi,Safique Sheikh,Shreya Ahuja,Guru Prasad,Shivani Talim,Somil Kumar,Asmita Shukla,Gaurav Nair,Saksham Verma,Shahrukh Ahmed,Shreeya Desai,Vidya Vhangade,NaN,NaN
4,NaN,Opportunity: Stage ↑,Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),Sum of Deal Amount(INR Lacs),NaN
5,NaN,Prospect,25,0,0,0,0,165,0,0,148,0,84.320519,65,0,0,0,487.320519,NaN
6,NaN,Proposal sent,0,10,30,61.531522,5.16129,275,0,204.061538,15,0,29.276961,65.403226,86.093512,36.622951,5.268293,823.419293,NaN
7,NaN,Pipeline,0,16,0,0,0,35,6.067416,0,55,0,241.728896,0,16,0,0,369.796312,NaN
8,NaN,Projection,5,0,10,0,0,101.22,137.73,0,15,30,0,0,1.6,14.166667,0,314.716667,NaN
9,NaN,Booked,426.7,28.63,170.46,0,175.64122,107.29,0,0,206.75,156.17,334.008102,111.81,20.455172,25,0,1762.914494,NaN
10,NaN,Total,456.7,54.63,210.46,61.531522,180.80251,683.51,143.797416,204.061538,439.75,186.17,689.334478,242.213226,124.148684,75.789617,5.268293,3758.167284,NaN

In [2]:
#transpose on df and store to df1
df = df.transpose()
display(df)

,0,1,2,3,4,5,6,7,8,9,10
Unnamed: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Open Opportunities Funnel,As of 2021-12-22 17:23:15 India Standard Time/...,NaN,Opportunity: Opportunity Owner: User Region →,Opportunity: Opportunity Owner: Full Name →,Opportunity: Stage ↑,Prospect,Proposal sent,Pipeline,Projection,Booked,Total
Unnamed: 2,NaN,NaN,North & East,Dristy Arora,Sum of Deal Amount(INR Lacs),25,0,0,5,426.7,456.7
Unnamed: 3,NaN,NaN,NaN,Krishan Sharma,Sum of Deal Amount(INR Lacs),0,10,16,0,28.63,54.63
Unnamed: 4,NaN,NaN,NaN,Madhav Sharma,Sum of Deal Amount(INR Lacs),0,30,0,10,170.46,210.46
Unnamed: 5,NaN,NaN,NaN,Nikhil Sondhi,Sum of Deal Amount(INR Lacs),0,61.531522,0,0,0,61.531522
Unnamed: 6,NaN,NaN,NaN,Safique Sheikh,Sum of Deal Amount(INR Lacs),0,5.16129,0,0,175.64122,180.80251
Unnamed: 7,NaN,NaN,NaN,Shreya Ahuja,Sum of Deal Amount(INR Lacs),165,275,35,101.22,107.29,683.51
Unnamed: 8,NaN,NaN,South,Guru Prasad,Sum of Deal Amount(INR Lacs),0,0,6.067416,137.73,0,143.797416
Unnamed: 9,NaN,NaN,NaN,Shivani Talim,Sum of Deal Amount(INR Lacs),0,204.061538,0,0,0,204.061538
Unnamed: 10,NaN,NaN,NaN,Somil Kumar,Sum of Deal Amount(INR Lacs),148,15,55,15,206.75,439.75
Unnamed: 11,NaN,NaN,West,Asmita Shukla,Sum of Deal Amount(INR Lacs),0,0,0,30,156.17,186.17
Unnamed: 12,NaN,NaN,NaN,Gaurav Nair,Sum of Deal Amount(INR Lacs),84.320519,29.276961,241.728896,0,334.008102,689.334478
Unnamed: 13,NaN,NaN,NaN,Saksham Verma,Sum of Deal Amount(INR Lacs),65,65.403226,0,0,111.81,242.213226
Unnamed: 14,NaN,NaN,NaN,Shahrukh Ahmed,Sum of Deal Amount(INR Lacs),0,86.093512,16,1.6,20.455172,124.148684
Unnamed: 15,NaN,NaN,NaN,Shreeya Desai,Sum of Deal Amount(INR Lacs),0,36.622951,0,14.166667,25,75.789617
Unnamed: 16,NaN,NaN,NaN,Vidya Vhangade,Sum of Deal Amount(INR Lacs),0,5.268293,0,0,0,5.268293
Unnamed: 17,NaN,NaN,Total,NaN,Sum of Deal Amount(INR Lacs),487.320519,823.419293,369.796312,314.716667,1762.914494,3758.167284
Unnamed: 18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
display(df.iloc[1])

0     As of 2021-12-22 17:23:15 India Standard Time/...
1                                                   NaN
2         Opportunity: Opportunity Owner: User Region →
3           Opportunity: Opportunity Owner: Full Name →
4                                 Opportunity: Stage  ↑
5                                              Prospect
6                                         Proposal sent
7                                              Pipeline
8                                            Projection
9                                                Booked
10                                                Total
Name: Open Opportunities Funnel, dtype: object

In [4]:
#regex replace Space To UnderScore
df.iloc[1] = df.iloc[1].replace(' ', '_', regex=True)

In [5]:
#drop null
df = df.dropna(how='all')
display(df)

,0,1,2,3,4,5,6,7,8,9,10
Open Opportunities Funnel,As_of_2021-12-22_17:23:15_India_Standard_Time/...,NaN,Opportunity:_Opportunity_Owner:_User_Region_→,Opportunity:_Opportunity_Owner:_Full_Name_→,Opportunity:_Stage__↑,Prospect,Proposal_sent,Pipeline,Projection,Booked,Total
Unnamed: 2,NaN,NaN,North & East,Dristy Arora,Sum of Deal Amount(INR Lacs),25,0,0,5,426.7,456.7
Unnamed: 3,NaN,NaN,NaN,Krishan Sharma,Sum of Deal Amount(INR Lacs),0,10,16,0,28.63,54.63
Unnamed: 4,NaN,NaN,NaN,Madhav Sharma,Sum of Deal Amount(INR Lacs),0,30,0,10,170.46,210.46
Unnamed: 5,NaN,NaN,NaN,Nikhil Sondhi,Sum of Deal Amount(INR Lacs),0,61.531522,0,0,0,61.531522
Unnamed: 6,NaN,NaN,NaN,Safique Sheikh,Sum of Deal Amount(INR Lacs),0,5.16129,0,0,175.64122,180.80251
Unnamed: 7,NaN,NaN,NaN,Shreya Ahuja,Sum of Deal Amount(INR Lacs),165,275,35,101.22,107.29,683.51
Unnamed: 8,NaN,NaN,South,Guru Prasad,Sum of Deal Amount(INR Lacs),0,0,6.067416,137.73,0,143.797416
Unnamed: 9,NaN,NaN,NaN,Shivani Talim,Sum of Deal Amount(INR Lacs),0,204.061538,0,0,0,204.061538
Unnamed: 10,NaN,NaN,NaN,Somil Kumar,Sum of Deal Amount(INR Lacs),148,15,55,15,206.75,439.75
Unnamed: 11,NaN,NaN,West,Asmita Shukla,Sum of Deal Amount(INR Lacs),0,0,0,30,156.17,186.17
Unnamed: 12,NaN,NaN,NaN,Gaurav Nair,Sum of Deal Amount(INR Lacs),84.320519,29.276961,241.728896,0,334.008102,689.334478
Unnamed: 13,NaN,NaN,NaN,Saksham Verma,Sum of Deal Amount(INR Lacs),65,65.403226,0,0,111.81,242.213226
Unnamed: 14,NaN,NaN,NaN,Shahrukh Ahmed,Sum of Deal Amount(INR Lacs),0,86.093512,16,1.6,20.455172,124.148684
Unnamed: 15,NaN,NaN,NaN,Shreeya Desai,Sum of Deal Amount(INR Lacs),0,36.622951,0,14.166667,25,75.789617
Unnamed: 16,NaN,NaN,NaN,Vidya Vhangade,Sum of Deal Amount(INR Lacs),0,5.268293,0,0,0,5.268293
Unnamed: 17,NaN,NaN,Total,NaN,Sum of Deal Amount(INR Lacs),487.320519,823.419293,369.796312,314.716667,1762.914494,3758.167284

In [6]:
#make Second Row AS Header 
df.columns = df.iloc[0]
df = df[1:]
df.head()
display(df)

Open Opportunities Funnel,As_of_2021-12-22_17:23:15_India_Standard_Time/IST_•_Generated_by_Aayushi_Lohia,NaN,Opportunity:_Opportunity_Owner:_User_Region_→,Opportunity:_Opportunity_Owner:_Full_Name_→,Opportunity:_Stage__↑,Prospect,Proposal_sent,Pipeline,Projection,Booked,Total
Unnamed: 2,NaN,NaN,North & East,Dristy Arora,Sum of Deal Amount(INR Lacs),25,0,0,5,426.7,456.7
Unnamed: 3,NaN,NaN,NaN,Krishan Sharma,Sum of Deal Amount(INR Lacs),0,10,16,0,28.63,54.63
Unnamed: 4,NaN,NaN,NaN,Madhav Sharma,Sum of Deal Amount(INR Lacs),0,30,0,10,170.46,210.46
Unnamed: 5,NaN,NaN,NaN,Nikhil Sondhi,Sum of Deal Amount(INR Lacs),0,61.531522,0,0,0,61.531522
Unnamed: 6,NaN,NaN,NaN,Safique Sheikh,Sum of Deal Amount(INR Lacs),0,5.16129,0,0,175.64122,180.80251
Unnamed: 7,NaN,NaN,NaN,Shreya Ahuja,Sum of Deal Amount(INR Lacs),165,275,35,101.22,107.29,683.51
Unnamed: 8,NaN,NaN,South,Guru Prasad,Sum of Deal Amount(INR Lacs),0,0,6.067416,137.73,0,143.797416
Unnamed: 9,NaN,NaN,NaN,Shivani Talim,Sum of Deal Amount(INR Lacs),0,204.061538,0,0,0,204.061538
Unnamed: 10,NaN,NaN,NaN,Somil Kumar,Sum of Deal Amount(INR Lacs),148,15,55,15,206.75,439.75
Unnamed: 11,NaN,NaN,West,Asmita Shukla,Sum of Deal Amount(INR Lacs),0,0,0,30,156.17,186.17
Unnamed: 12,NaN,NaN,NaN,Gaurav Nair,Sum of Deal Amount(INR Lacs),84.320519,29.276961,241.728896,0,334.008102,689.334478
Unnamed: 13,NaN,NaN,NaN,Saksham Verma,Sum of Deal Amount(INR Lacs),65,65.403226,0,0,111.81,242.213226
Unnamed: 14,NaN,NaN,NaN,Shahrukh Ahmed,Sum of Deal Amount(INR Lacs),0,86.093512,16,1.6,20.455172,124.148684
Unnamed: 15,NaN,NaN,NaN,Shreeya Desai,Sum of Deal Amount(INR Lacs),0,36.622951,0,14.166667,25,75.789617
Unnamed: 16,NaN,NaN,NaN,Vidya Vhangade,Sum of Deal Amount(INR Lacs),0,5.268293,0,0,0,5.268293
Unnamed: 17,NaN,NaN,Total,NaN,Sum of Deal Amount(INR Lacs),487.320519,823.419293,369.796312,314.716667,1762.914494,3758.167284

In [7]:
#Drop Null Columns
df = df.loc[:, df.columns.notnull()]
display(df)

Open Opportunities Funnel,As_of_2021-12-22_17:23:15_India_Standard_Time/IST_•_Generated_by_Aayushi_Lohia,Opportunity:_Opportunity_Owner:_User_Region_→,Opportunity:_Opportunity_Owner:_Full_Name_→,Opportunity:_Stage__↑,Prospect,Proposal_sent,Pipeline,Projection,Booked,Total
Unnamed: 2,NaN,North & East,Dristy Arora,Sum of Deal Amount(INR Lacs),25,0,0,5,426.7,456.7
Unnamed: 3,NaN,NaN,Krishan Sharma,Sum of Deal Amount(INR Lacs),0,10,16,0,28.63,54.63
Unnamed: 4,NaN,NaN,Madhav Sharma,Sum of Deal Amount(INR Lacs),0,30,0,10,170.46,210.46
Unnamed: 5,NaN,NaN,Nikhil Sondhi,Sum of Deal Amount(INR Lacs),0,61.531522,0,0,0,61.531522
Unnamed: 6,NaN,NaN,Safique Sheikh,Sum of Deal Amount(INR Lacs),0,5.16129,0,0,175.64122,180.80251
Unnamed: 7,NaN,NaN,Shreya Ahuja,Sum of Deal Amount(INR Lacs),165,275,35,101.22,107.29,683.51
Unnamed: 8,NaN,South,Guru Prasad,Sum of Deal Amount(INR Lacs),0,0,6.067416,137.73,0,143.797416
Unnamed: 9,NaN,NaN,Shivani Talim,Sum of Deal Amount(INR Lacs),0,204.061538,0,0,0,204.061538
Unnamed: 10,NaN,NaN,Somil Kumar,Sum of Deal Amount(INR Lacs),148,15,55,15,206.75,439.75
Unnamed: 11,NaN,West,Asmita Shukla,Sum of Deal Amount(INR Lacs),0,0,0,30,156.17,186.17
Unnamed: 12,NaN,NaN,Gaurav Nair,Sum of Deal Amount(INR Lacs),84.320519,29.276961,241.728896,0,334.008102,689.334478
Unnamed: 13,NaN,NaN,Saksham Verma,Sum of Deal Amount(INR Lacs),65,65.403226,0,0,111.81,242.213226
Unnamed: 14,NaN,NaN,Shahrukh Ahmed,Sum of Deal Amount(INR Lacs),0,86.093512,16,1.6,20.455172,124.148684
Unnamed: 15,NaN,NaN,Shreeya Desai,Sum of Deal Amount(INR Lacs),0,36.622951,0,14.166667,25,75.789617
Unnamed: 16,NaN,NaN,Vidya Vhangade,Sum of Deal Amount(INR Lacs),0,5.268293,0,0,0,5.268293
Unnamed: 17,NaN,Total,NaN,Sum of Deal Amount(INR Lacs),487.320519,823.419293,369.796312,314.716667,1762.914494,3758.167284

In [8]:
#List OF Columns
list(df.columns)

['As_of_2021-12-22_17:23:15_India_Standard_Time/IST_•_Generated_by_Aayushi_Lohia',
 'Opportunity:_Opportunity_Owner:_User_Region_→',
 'Opportunity:_Opportunity_Owner:_Full_Name_→',
 'Opportunity:_Stage__↑',
 'Prospect',
 'Proposal_sent',
 'Pipeline',
 'Projection',
 'Booked',
 'Total']

In [10]:
#Ffill Column 1
df["Opportunity:_Opportunity_Owner:_User_Region_→"].fillna(method ='ffill', inplace = True)
df

Open Opportunities Funnel,As_of_2021-12-22_17:23:15_India_Standard_Time/IST_•_Generated_by_Aayushi_Lohia,Opportunity:_Opportunity_Owner:_User_Region_→,Opportunity:_Opportunity_Owner:_Full_Name_→,Opportunity:_Stage__↑,Prospect,Proposal_sent,Pipeline,Projection,Booked,Total
Unnamed: 2,NaN,North & East,Dristy Arora,Sum of Deal Amount(INR Lacs),25,0,0,5,426.7,456.7
Unnamed: 3,NaN,North & East,Krishan Sharma,Sum of Deal Amount(INR Lacs),0,10,16,0,28.63,54.63
Unnamed: 4,NaN,North & East,Madhav Sharma,Sum of Deal Amount(INR Lacs),0,30,0,10,170.46,210.46
Unnamed: 5,NaN,North & East,Nikhil Sondhi,Sum of Deal Amount(INR Lacs),0,61.531522,0,0,0,61.531522
Unnamed: 6,NaN,North & East,Safique Sheikh,Sum of Deal Amount(INR Lacs),0,5.16129,0,0,175.64122,180.80251
Unnamed: 7,NaN,North & East,Shreya Ahuja,Sum of Deal Amount(INR Lacs),165,275,35,101.22,107.29,683.51
Unnamed: 8,NaN,South,Guru Prasad,Sum of Deal Amount(INR Lacs),0,0,6.067416,137.73,0,143.797416
Unnamed: 9,NaN,South,Shivani Talim,Sum of Deal Amount(INR Lacs),0,204.061538,0,0,0,204.061538
Unnamed: 10,NaN,South,Somil Kumar,Sum of Deal Amount(INR Lacs),148,15,55,15,206.75,439.75
Unnamed: 11,NaN,West,Asmita Shukla,Sum of Deal Amount(INR Lacs),0,0,0,30,156.17,186.17
Unnamed: 12,NaN,West,Gaurav Nair,Sum of Deal Amount(INR Lacs),84.320519,29.276961,241.728896,0,334.008102,689.334478
Unnamed: 13,NaN,West,Saksham Verma,Sum of Deal Amount(INR Lacs),65,65.403226,0,0,111.81,242.213226
Unnamed: 14,NaN,West,Shahrukh Ahmed,Sum of Deal Amount(INR Lacs),0,86.093512,16,1.6,20.455172,124.148684
Unnamed: 15,NaN,West,Shreeya Desai,Sum of Deal Amount(INR Lacs),0,36.622951,0,14.166667,25,75.789617
Unnamed: 16,NaN,West,Vidya Vhangade,Sum of Deal Amount(INR Lacs),0,5.268293,0,0,0,5.268293
Unnamed: 17,NaN,Total,NaN,Sum of Deal Amount(INR Lacs),487.320519,823.419293,369.796312,314.716667,1762.914494,3758.167284

In [11]:
#Ffill Column 2
df["Opportunity: Opportunity Owner: User Region →"].fillna(method ='ffill', inplace = True)
df

Open Opportunities Funnel,As of 2021-12-22 17:23:15 India Standard Time/IST • Generated by Aayushi Lohia,Opportunity: Opportunity Owner: User Region →,Opportunity: Opportunity Owner: Full Name →,Opportunity: Stage ↑,Prospect,Proposal sent,Pipeline,Projection,Booked,Total
Unnamed: 2,NaN,North & East,Dristy Arora,Sum of Deal Amount(INR Lacs),25,0,0,5,426.7,456.7
Unnamed: 3,NaN,North & East,Krishan Sharma,Sum of Deal Amount(INR Lacs),0,10,16,0,28.63,54.63
Unnamed: 4,NaN,North & East,Madhav Sharma,Sum of Deal Amount(INR Lacs),0,30,0,10,170.46,210.46
Unnamed: 5,NaN,North & East,Nikhil Sondhi,Sum of Deal Amount(INR Lacs),0,61.531522,0,0,0,61.531522
Unnamed: 6,NaN,North & East,Safique Sheikh,Sum of Deal Amount(INR Lacs),0,5.16129,0,0,175.64122,180.80251
Unnamed: 7,NaN,North & East,Shreya Ahuja,Sum of Deal Amount(INR Lacs),165,275,35,101.22,107.29,683.51
Unnamed: 8,NaN,South,Guru Prasad,Sum of Deal Amount(INR Lacs),0,0,6.067416,137.73,0,143.797416
Unnamed: 9,NaN,South,Shivani Talim,Sum of Deal Amount(INR Lacs),0,204.061538,0,0,0,204.061538
Unnamed: 10,NaN,South,Somil Kumar,Sum of Deal Amount(INR Lacs),148,15,55,15,206.75,439.75
Unnamed: 11,NaN,West,Asmita Shukla,Sum of Deal Amount(INR Lacs),0,0,0,30,156.17,186.17
Unnamed: 12,NaN,West,Gaurav Nair,Sum of Deal Amount(INR Lacs),84.320519,29.276961,241.728896,0,334.008102,689.334478
Unnamed: 13,NaN,West,Saksham Verma,Sum of Deal Amount(INR Lacs),65,65.403226,0,0,111.81,242.213226
Unnamed: 14,NaN,West,Shahrukh Ahmed,Sum of Deal Amount(INR Lacs),0,86.093512,16,1.6,20.455172,124.148684
Unnamed: 15,NaN,West,Shreeya Desai,Sum of Deal Amount(INR Lacs),0,36.622951,0,14.166667,25,75.789617
Unnamed: 16,NaN,West,Vidya Vhangade,Sum of Deal Amount(INR Lacs),0,5.268293,0,0,0,5.268293
Unnamed: 17,NaN,Total,NaN,Sum of Deal Amount(INR Lacs),487.320519,823.419293,369.796312,314.716667,1762.914494,3758.167284

In [11]:
#del Col 2(As_of_2021-12-22_17:23:15_India_Standard_Time)
del df['As_of_2021-12-22_17:23:15_India_Standard_Time/IST_•_Generated_by_Aayushi_Lohia']

In [12]:
display(df.columns)

Index(['Opportunity:_Opportunity_Owner:_User_Region_→',
       'Opportunity:_Opportunity_Owner:_Full_Name_→', 'Opportunity:_Stage__↑',
       'Prospect', 'Proposal_sent', 'Pipeline', 'Projection', 'Booked',
       'Total'],
      dtype='object', name='Open Opportunities Funnel')

In [13]:
display(df)

Open Opportunities Funnel,Opportunity:_Opportunity_Owner:_User_Region_→,Opportunity:_Opportunity_Owner:_Full_Name_→,Opportunity:_Stage__↑,Prospect,Proposal_sent,Pipeline,Projection,Booked,Total
Unnamed: 2,North & East,Dristy Arora,Sum of Deal Amount(INR Lacs),25,0,0,5,426.7,456.7
Unnamed: 3,North & East,Krishan Sharma,Sum of Deal Amount(INR Lacs),0,10,16,0,28.63,54.63
Unnamed: 4,North & East,Madhav Sharma,Sum of Deal Amount(INR Lacs),0,30,0,10,170.46,210.46
Unnamed: 5,North & East,Nikhil Sondhi,Sum of Deal Amount(INR Lacs),0,61.531522,0,0,0,61.531522
Unnamed: 6,North & East,Safique Sheikh,Sum of Deal Amount(INR Lacs),0,5.16129,0,0,175.64122,180.80251
Unnamed: 7,North & East,Shreya Ahuja,Sum of Deal Amount(INR Lacs),165,275,35,101.22,107.29,683.51
Unnamed: 8,South,Guru Prasad,Sum of Deal Amount(INR Lacs),0,0,6.067416,137.73,0,143.797416
Unnamed: 9,South,Shivani Talim,Sum of Deal Amount(INR Lacs),0,204.061538,0,0,0,204.061538
Unnamed: 10,South,Somil Kumar,Sum of Deal Amount(INR Lacs),148,15,55,15,206.75,439.75
Unnamed: 11,West,Asmita Shukla,Sum of Deal Amount(INR Lacs),0,0,0,30,156.17,186.17
Unnamed: 12,West,Gaurav Nair,Sum of Deal Amount(INR Lacs),84.320519,29.276961,241.728896,0,334.008102,689.334478
Unnamed: 13,West,Saksham Verma,Sum of Deal Amount(INR Lacs),65,65.403226,0,0,111.81,242.213226
Unnamed: 14,West,Shahrukh Ahmed,Sum of Deal Amount(INR Lacs),0,86.093512,16,1.6,20.455172,124.148684
Unnamed: 15,West,Shreeya Desai,Sum of Deal Amount(INR Lacs),0,36.622951,0,14.166667,25,75.789617
Unnamed: 16,West,Vidya Vhangade,Sum of Deal Amount(INR Lacs),0,5.268293,0,0,0,5.268293
Unnamed: 17,Total,NaN,Sum of Deal Amount(INR Lacs),487.320519,823.419293,369.796312,314.716667,1762.914494,3758.167284

In [14]:
display(df.iloc[1])

Open Opportunities Funnel
Opportunity:_Opportunity_Owner:_User_Region_→                    North & East
Opportunity:_Opportunity_Owner:_Full_Name_→                    Krishan Sharma
Opportunity:_Stage__↑                            Sum of Deal Amount(INR Lacs)
Prospect                                                                    0
Proposal_sent                                                              10
Pipeline                                                                   16
Projection                                                                  0
Booked                                                                  28.63
Total                                                                   54.63
Name: Unnamed: 3, dtype: object

In [18]:
#TO Take OutPut
df.to_excel("D:\FunctionAppFilesOutput\Output-OpenOpportunitiesFunnel-Dec21.xlsx")