In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'D:\Function App Files\Proposal Sent Report-Apr-21st Dec.xlsx',header = 1)
display(df)

,Unnamed: 0,Created Date →,Unnamed: 2,1/4/2021,Unnamed: 4,4/4/2021,Unnamed: 6,5/4/2021,Unnamed: 8,6/4/2021,...,Unnamed: 330,16/12/2021,Unnamed: 332,17/12/2021,Unnamed: 334,20/12/2021,Unnamed: 336,Total,Unnamed: 338,Unnamed: 339
0,NaN,Opportunity: Opportunity Owner: User Region ↓,Opportunity: Opportunity Owner: Full Name ↑,Sum of Deal Amount(INR Lacs),Record Count,Sum of Deal Amount(INR Lacs),Record Count,Sum of Deal Amount(INR Lacs),Record Count,Sum of Deal Amount(INR Lacs),...,Record Count,Sum of Deal Amount(INR Lacs),Record Count,Sum of Deal Amount(INR Lacs),Record Count,Sum of Deal Amount(INR Lacs),Record Count,Sum of Deal Amount(INR Lacs),Record Count,NaN
1,NaN,West,Arjun Singh,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,19,2,NaN
2,NaN,NaN,Asmita Shukla,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,353.17,6,NaN
3,NaN,NaN,Deeksha Malladi,9.7,2,0,0,0,0,0,...,0,0,0,0,0,0,0,111.67,9,NaN
4,NaN,NaN,Gaurav Nair,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3858.79,176,NaN
5,NaN,NaN,Nomaan Shaikh,0,0,0,0,0.6,1,0,...,0,0,0,0,0,0,0,82.63,13,NaN
6,NaN,NaN,Saksham Verma,0,0,0,0,0,0,0,...,0,0,0,45,6,0,0,3356.98075,180,NaN
7,NaN,NaN,Shahrukh Ahmed,0,0,0,0,0,0,0,...,0,0,0,36.6,6,0,0,256.4,38,NaN
8,NaN,NaN,Shreeya Desai,0,0,0,0,0,0,0,...,0,0,0,25,1,0,0,1554.9,72,NaN
9,NaN,NaN,Vidya Vhangade,0,0,0,0,20.41,1,0,...,0,0,0,0,0,0,0,429.983167,77,NaN
10,NaN,NaN,Vishal Menezes,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1150043.03,14,NaN
11,NaN,South,Balaji Ramakrishnan,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1182.06,114,NaN
12,NaN,NaN,Guru Prasad,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,550.419016,10,NaN
13,NaN,NaN,Shivani Talim,0,0,0,0,0,0,0,...,0,0,0,47,4,0,0,620.35,24,NaN
14,NaN,NaN,Somil Kumar,0,0,0,0,0,0,0,...,0,0,0,73,4,0,0,1646.81,119,NaN
15,NaN,North & East,Dristy Arora,0,0,0,0,2.9,1,0,...,0,0,0,11.2,2,60,3,2401.35,110,NaN
16,NaN,NaN,Krishan Sharma,0,0,3.22,2,0,0,3.33,...,0,0,0,0,0,0,0,2556.92,147,NaN
17,NaN,NaN,Madhav Sharma,0,0,0,0,0,0,0,...,0,0,0,150.8,5,0,0,2507.255482,152,NaN
18,NaN,NaN,Nikhil Sondhi,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,152,11,NaN
19,NaN,NaN,Safique Sheikh,0,0,0,0,0,0,0,...,3,50,2,0,0,0,0,626.216538,85,NaN
20,NaN,NaN,Shreya Ahuja,0,0,0,0,0,0,0,...,0,0,0,63.63,3,0,0,4086.9,124,NaN
21,NaN,NaN,Suprotim Rao,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,1,NaN
22,NaN,Total,NaN,9.7,2,3.22,2,23.91,3,3.33,...,3,50,2,452.23,31,60,3,1176406.834955,1484,NaN